.main {
	padding-top: 6em;
	.mainHeader {
		display: flex;
		justify-content: center;
		.mainHeaderItem {
			width: 200px;
			height: 40px;
			margin: 0 0.5em;
			display: flex;
			justify-content: center;
		}
	}
	.mainListWrapper {
		overflow-y: auto;
		max-height: 600px;
		transition: background 0.1s ease, border-radius 0.1s ease;

		.mainList {
			display: flex;
			.mainListItem {
				margin: 0 0.5em;
				padding: 10px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 40px;
				cursor: pointer;
			}
			&:hover {
				background: #505050;
				border-radius: 8px;
			}

			.positive {
				color: green;
			}

			.negative {
				color: red;
			}

			.neutral {
				color: gray; // для нейтральных значений
			}
		}
	}
}
